name: Validate Kubernetes configuration files
permissions: {}

'on':
  push:
    branches:
      - main
  pull_request:

env:
  KUBECONFORM_VERSION: "v0.7.0"

jobs:
  validate:
    name: Validate Kubernetes configuration files
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install kubeconform
        run: |
          mkdir -p "${HOME}/.local/bin"
          curl -sL "https://github.com/yannh/kubeconform/releases/download/${KUBECONFORM_VERSION}/kubeconform-linux-amd64.tar.gz" | tar xzf - -C "${HOME}/.local/bin" kubeconform
      - name: Validating Kubernetes configuration files
        run: |
          make validate
