name: Lint YAML files

'on':
  push:
    branches:
      - main
  pull_request:

jobs:
  validate:
    name: Lint YAML files
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Lint YAML files
        run: |
          make yamllint
